.icon {
  width: 96%;
  height: 96%;
  border-style: none;
  border: none;
  background-repeat: no-repeat;
}

.node {
  width: 26px;
  height: 26px;
  outline: 1px solid rgb(175, 216, 248);
  display: inline-block;
  position: relative;
}

.road {
  background-color: white;
}

.start {
  background-color: white;
}

.finish {
  background-color: white;
}

.wall {
  background-color: #232c33;
  outline: 1px solid white;
}

.visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.4);
    background-color: rgba(255, 0, 255, 0.75);
    border-radius: 100%;
  }

  50% {
    transform: scale(0.7);
    background-color: rgba(255, 0, 255, 0.75);
  }

  75% {
    transform: scale(1.1);
    background-color: rgba(114, 0, 212, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(101, 89, 219, 0.75);
    outline: 1px solid white;
  }
}

.shortest-path {
  animation-name: shortestPathAnimation;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPathAnimation {
  0% {
    transform: scale(0.7);
    background-color: rgba(33, 1, 36, 0.75);
    border-radius: 100%;
  }

  50% {
    transform: scale(1.1);
    background-color: rgba(234, 27, 57, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(234, 27, 57, 0.75);
    outline: 1px solid white;
  }
}

.maze-animation {
  animation-name: mazeAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes mazeAnimation {
  0% {
    transform: scale(0.7);
    background-color: #232c33;
  }

  50% {
    transform: scale(1.1);
    background-color: #232c33;
  }

  100% {
    transform: scale(1);
    background-color: #232c33;
    outline: 1px solid white;
  }
}

.slider {
  width: 75%;
}

/* https://coolors.co/ff00ff-7200d4-38aecc-0090c1-6559db-655bd7  232C33*/
