#nav-container {
  width: 100%;
  height: 170px;
  background-color: #232c33;
  font-weight: bold;
  color: white;
}

#nav-upper-container {
  height: 40%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#project-name {
  font-size: 36px;
  margin: 0;
}

#nav-bottom-container {
  display: flex;
  justify-content: space-evenly;
  /*Set top padding here possibly to align all items in navbar*/
}

.nav-bottom-left-container {
  width: 100%;
  height: 100%;
}

.nav-bottom-center-container {
  width: 250px;
  height: 100%;
}

.nav-bottom-right-container {
  width: 100%;
  height: 100%;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
}

.dropdown-container {
  position: relative;
}

.nav-dropdown {
  width: 105px;
  font-size: 16px;
  font-weight: bold;
  background-color: #232c33;
  color: white;
  border: none;
}

.nav-btn {
}

.clear-btn {
  font-size: 16px;
  width: 100px;
  height: 50px;
  font-weight: bold;
  color: white;
  background-color: #232c33;
  border: none;
}

.clear-btn:hover {
  background-color: rgba(101, 89, 219, 0.75);
}

.visualize-btn {
  font-size: 18px;
  width: 175px;
  height: 50px;
  font-weight: bold;
  color: white;

  background-color: rgba(114, 0, 212, 0.75);
  border: none;
}

.visualize-btn:hover {
  background-color: rgba(255, 0, 255, 0.75);
}

#speed-label {
  display: block;
}


.navbar-info{
  display: flex;
  justify-content: center;
  align-items: center;
}


select {
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}
