.legend-div {
  height: 100px;
  width: 100%;
  display: flex;
}

.legend-div::before {
  content: "";
  width: 10%;
  height: 100px;
}

.legend-div::after {
  content: "";
  width: 10%;
  height: 100px;
}

.legend-container {
  height: 50%;
  width: 80%;
  display: flex;
  justify-content: center;
}

.legend-item {
  margin: 10px;
}

.legend-text {
  float: right;
  margin-left: 6px;
  margin-right: 10px;
  color: #232c33;
  font-weight: bold;
  font-size: 20px;
}

.legend-icon {
  width: 96%;
  height: 96%;
  border-style: none;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 1px;
}

#visited-1 {
  margin-right: 5px;
  background-color: rgba(255, 0, 255, 0.75);
}

#visited-2 {
  margin-right: 5px;
  background-color: rgba(114, 0, 212, 0.75);
}

#visited-3 {
  background-color: rgba(101, 89, 219, 0.75);
  outline: 1px solid white;
}

#wall {
  background-color: #232c33;
}

.node-legend {
  width: 26px;
  height: 26px;
  outline: 1px solid rgb(175, 216, 248);
  float: left;
}

#shortest-path {
  background-color: rgba(234, 27, 57, 0.75);
  outline: 1px solid white;
}
